#disable_html_escaping()
<div style="display:none !important; visibility: hidden !important;">----------------------------------------</div>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
<style>
    h2, h3 { margin: 0; }
    table td {border-collapse:collapse;}
    
</style>
<div class="mail">
    <table style="max-width: 600px; margin: 0 auto;">
        <tr>
        <td>
        <table  style="
            width: 100%;
            border-bottom: 1px solid #E4E4E4;
            border-collapse:collapse;
        

        ">
            <tr valign="middle" > 
                <td style="
                    text-align: left; 
                    padding: 30px 30px 30px 30px !important;
                ">
                    <img src="http://media.angrycreative.se/AC-logo-Svart_40.png" alt="">
                </td>
                <td  valign="middle" 
                style="
                    text-align: right; 
                    padding: 30px 30px 30px 30px !important;
                    font-family: Roboto,Arial,sans-serif;

                    margin-top: 6px;
                    color: #989898;
                    font-size: 24px;
                    margin-left: 20px;
                    font-weight: bold;

                "> 
                <span style="font-family: Roboto,Arial,sans-serif;">SUPPORT: ÄRENDE #$issue.getKey()</span>

                </td>
            </tr>
        </table>
        <!-- header -->

        <div class="body" style="
                padding: 0 30px 30px 30px;
            ">
            <div style="padding-bottom:30px;"></div>
            <h2 style="
                margin: 0 0 20px 0;
                font-family: Roboto,Arial,sans-serif;
                font-weight:bold !important;
        
            ">Någon har kommenterat på ärendet #$issue.getKey() - $issue.summary. </h2>
            <div style="padding-bottom:30px;"></div>
            <h3 style="
                font-family: Roboto,Arial,sans-serif;
                text-align: center;
                padding: 10px;
            ">Konversation</h3>
            
        #set($comments = $allComments.getComments($issue))
        #set($c = $comments.size())
        #set($commentSizeMinusOne = $c - 1)
        #foreach ($i in $comments)
            #set($c = $c - 1)
            #set($comment = $comments.get($c))
 
            #set( $values = $comment.getBody().split("==", 3) )

            #if( $comment.getAuthorApplicationUser().getKey() == "support" )
                #set( $counter = 0)
                #foreach($value in $values)
                    #if($counter == 0)
                        #set($name = $value)
                    #elseif($counter == 1)
                        #set($email = $value)
                        #set($imageEmail = $value)
                    #else
                        #set($message = $value)
                    #end
                    #set($counter = $counter + 1)
                #end
            #else
                #set($name = $comment.getAuthorApplicationUser().getDisplayName() )
                #set($imageEmail = $comment.getAuthorApplicationUser().getEmailAddress() )
                #set($email = "" )
                #if($c == $commentSizeMinusOne)
                    #set($message = $htmlComment.replaceAll("<img", "<img style=\"max-width:100%; height: auto;\" ") )
                #else
                    #set($message = $comment.getBody() )
                #end
            #end


                <table class="issue" style="
                    
                ">
                    <tr>
                        <td valign="top" >
                            <div class="img-wrapper" style="padding: 0 30px 0 0;">
                                
                                <img src="http://gravatar.angrycreative.se?mail=$imageEmail" alt="" style="
                                    height: 45px;
                                    width: 45px;
    
                                    border-radius: 100%;
    
                                ">
                            </div>
                        </td>
                        <td>
                        #if($c == $commentSizeMinusOne)
                            <div class="message-wrapper" style="
                                float: right;
                                padding: 20px;
                                width: 665px;
                                border-radius: 6px;
                                background: #E5F7FF;
                                border: 1px solid #B0DFDF;
                                font-family: Roboto, Arial,sans-serif;
                            ">
                        #else
                            <div class="message-wrapper" style="
                                float: right;
                                padding: 20px;
                                width: 665px;
                                border-radius: 6px;
                                background: #fff;
                                border: 1px solid #EBEBEB;
                                font-family: Roboto, Arial,sans-serif;
                            ">
                        #end
                                <table class="gutter" style=" 
                                    font-size: 14px;
                                    width: 100%;
                                    margin: 0 0 10px 0;
                                ">
                                    <tr>
                                        <td>
                                            <span class="name" style="
                                                display: inline-block;
                                                margin-right: 3px;
                                                font-weight: bold;
                                                font-family: Roboto, Arial,sans-serif;
                                                ">$name </span> 
                                            <span class="email" style="
                                                font-family: Roboto,Arial,sans-serif;
                                            ">$email</span>
                                        </td>
                                        <td style="
                                            text-align:right;
                                            color: #979797;
                                            font-size: 0.9em;
                                            margin-top: 2px;
                                            display: block;
                                            float: right;
                                        ">
                                            $dateformatter.formatDMYHMS($comment.getCreated())
                                        </td>
                                    </tr>
    
    
                                </table>
                                <div class="message" style="
                                    color: #555;
                                ">
                                    <div class="img-wrapper" style="max-width: 100% !important; height: auto !important;">
                                        <img src="http://forum.videohelp.com/attachments/8223-1313539733/bdrebuilder%20error%20print%20screen.jpg">
                                    </div>
                                    <p style=" margin: 0 0 0 0;
                                        line-height: 1.4;
                                        font-family: Roboto,Arial,sans-serif;
                                    ">  $message</p>             
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                
    
                </table>
    
                <div style="padding-bottom:30px ;"></div>
                    
        #end
        
        
        #if($issue.getReporterId() == "support")
            #set( $values = $issue.getDescription().split("==", 3) )
            #set( $counter = 0)
            #foreach($value in $values)
                #if($counter == 0)
                    #set($name = $value)
                #elseif($counter == 1)
                    #set($email = $value)
                    #set($imageEmail = $value)
                #else
                    #set($message = $value)
                #end
                #set($counter = $counter + 1)
            #end
        #else
            #set( $message = $issue.getDescription())
            
            #set( $name = $issue.getReporterUser().getDisplayName() )
            #set( $imageEmail = $issue.getReporterUser().getEmailAddress())
            #set( $email = "")


            ##$issue.getReporterUser().getEmailAddress() )

        #end
        
        <table class="issue" style="
                    
                ">
                    <tr>
                        <td valign="top" >
                            <div class="img-wrapper" style="padding: 0 30px 0 0;">
                                
                                <img src="http://gravatar.angrycreative.se/?mail=$imageEmail" alt="" style="
                                    height: 45px;
                                    width: 45px;
    
                                    border-radius: 100%;
    
                                ">
                            </div>
                        </td>
                        <td>

                            <div class="message-wrapper" style="
                                float: right;
                                padding: 20px;
                                width: 665px;
                                border-radius: 6px;
                                background: #fff;
                                border: 1px solid #EBEBEB;
                                font-family: Roboto, Arial,sans-serif;
                            ">
    
                                <table class="gutter" style=" 
                                    font-size: 14px;
                                    width: 100%;
                                    margin: 0 0 10px 0;
                                ">
                                    <tr>
                                        <td>
                                            <span class="name" style="
                                                display: inline-block;
                                                margin-right: 3px;
                                                font-weight: bold;
                                                font-family: Roboto, Arial,sans-serif;
                                                ">$name </span> 
                                            <span class="email">$email</span>
                                        </td>
                                        <td style="
                                            text-align:right;
                                            color: #979797;
                                            font-size: 0.9em;
                                            margin-top: 2px;
                                            display: block;
                                            float: right;
                                        ">
                                            $dateformatter.formatDMYHMS($issue.getCreated())
                                        </td>
                                    </tr>
    
    
                                </table>
                                <div class="message" style="
                                    color: #555;
                                ">
    
                                    <h3 style="
                                        font-family: Roboto,Arial,sans-serif;
                                        font-weight: bold;
                                    "># $issue.getKey() - $issue.summary</h3>
    
                                    <p style="
                                        line-height: 1.4;
                                        margin: 0 0 0 0;
                                        ">  $message</p>             
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                
    
                </table>
        
        
        </div>
        <div class="footer" style="

            border-top: 1px solid #E4E4E4;
            padding: 10px;
            text-align: center;
        ">

            <span style="
                display: inline-block;
                padding: 10px;
                color: #FF5050;
                font-family: Roboto, Arial,sans-serif;


            ">Telefon: 010 - 762 44 40</span>
            <span style="
                display: inline-block;
                padding: 10px;
                font-family: Roboto, Arial,sans-serif;

            "><a href="mailto:hej@angrycreative.se" style="color: #FF5050 !important; text-decoration: underline !important;">hej@angrycreative.se</a> </span>
            <span style="
                display: inline-block;
                padding: 10px;
                font-family: Roboto, Arial,sans-serif;
                

            "> <a href="http://www.facebook.com/angrycreative" style="color: #FF5050 !important; text-decoration: underline !important;">facebook.com/angrycreative</a> </span>



        </div>
        </td>
        </tr>
    </table>
</div>