#disable_html_escaping()
<div style="display:none !important; visibility: hidden !important;">----------------------------------------</div>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
<style>
    h2, h3 { margin: 0; }
    table td {border-collapse:collapse;}
</style>
<div class="mail">
	<table style="max-width: 600px; margin: 0 auto;">
		<tr>
		<td>
		<table  style="
			width: 100%;
			border-bottom: 1px solid #E4E4E4;
			border-collapse:collapse;
		

		">
			<tr valign="middle" > 
				<td style="
					text-align: left; 
					padding: 30px 30px 30px 30px !important;
				">
					<img src="http://media.angrycreative.se/AC-logo-Svart_40.png" alt="">
				</td>
				<td  valign="middle" 
				style="
					text-align: right; 
					padding: 30px 30px 30px 30px !important;
					font-family: Roboto,Arial,sans-serif;

					margin-top: 6px;
					color: #989898;
					font-size: 24px;
					margin-left: 20px;
					font-weight: bold;

				"> 
				<span>SUPPORT: ÄRENDE #$issue.getKey()</span>

				</td>
			</tr>
		</table>
		<!-- header -->

		<div class="body" style="
				padding: 0 30px 30px 30px;
			">
			<div style="padding-bottom: 30px"></div>

		
			<div class="success notice" style="
				background: #ECFAE7;
				padding: 20px;
				border-left: 3px solid #3c763d;
			">
				<h3 style="
					color: #3c763d;
					margin-bottom: 5px;
				">
					Ärende avslutat 
					<a href="http://jira.angrycreative.se/browse/$issue.getKey()">#$issue.getKey()</a> - $issue.summary
				</h3>
				<p style="
				    margin: 0 0 6px 0;
				    font-weight: bold;
				    line-height: 1.4;
				">
				    Kommentar från $comment.getAuthorApplicationUser().getDisplayName() 
				<p style="
					line-height: 1.4;
				">
				    $comment.getBody() 
				</p>

			</div>

			<div style="padding-bottom:30px ;"></div>



			
		</div>
		<div class="footer" style="

			border-top: 1px solid #E4E4E4;
			padding: 10px;
			text-align: center;
		">

			<span style="
				display: inline-block;
				padding: 10px;
				color: #FF5050;
				font-family: Roboto, Arial,sans-serif;


			">Telefon: 010 - 762 44 40</span>
			<span style="
				display: inline-block;
				padding: 10px;
				font-family: Roboto, Arial,sans-serif;

			"><a href="mailto:hej@angrycreative.se" style="color: #FF5050 !important; text-decoration: underline !important;">hej@angrycreative.se</a> </span>
			<span style="
				display: inline-block;
				padding: 10px;
				font-family: Roboto, Arial,sans-serif;
				

			"> <a href="http://www.facebook.com/angrycreative" style="color: #FF5050 !important; text-decoration: underline !important;">facebook.com/angrycreative</a> </span>



		</div>
		</td>
		</tr>
	</table>
</div> 
