*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto',Arial;
}
a, a:visited{
	color: #FF5050;
}

.outer-wrapper{
	width: 80%;
	margin-left: 20%;
}
li{list-style-type: none;}


p{margin-bottom: 30px;}

nav.menu{
	/*padding: 20px;*/
	position: fixed;
	top:0px;
	left:0px;
	/*width: 20%;*/
	/*background: whitesmoke;*/
	margin: 25px 35px;

}
nav.menu li{
	margin-bottom: 12px;
}
nav.menu a {
	text-decoration: none;
	color: #333;
	font-size: 0.9em
}
/* Helpers */

.faded {
	opacity: 0.7;
	font-size: 0.8em;
}
.bold{ font-weight: bold; }

.clearfix{clear:both;}

/* END helpers */


.wrapper > h1{
	text-align: center;
	text-transform:uppercase;
	color: #aaa;
	padding: 20px;
}

.notice a{
	color: #333;
}
.notice p, .notice div{margin: 0 0 20px 0;}

.notice {
	padding: 20px 20px 1px 20px;
	margin-bottom: 30px;
}

.rating ul li a {
	float: left;
	font-size: 1.5em;
	padding: 20px;
	padding-top: 10px;
}
.rating textarea {
	width: 100%;
	font-size: 16px;
	padding: 10px;
}

.wrapper{
	max-width: 800px;
	margin: 0 auto;
}

.mail{
	margin-top: 20px;
	margin-bottom: 220px;

}
.mail h2{
	margin-bottom: 20px;
}

.pre-header{
	margin-bottom: 22px;
	text-align: center;
	color: #aaa;
}


.header{
	border-bottom: 1px solid #E4E4E4;
	padding: 30px 30px 10px 30px;
	text-transform:uppercase;
}

.header img{
	height: 40px;
	float: left;
}

.header h2{
	display: inline-block;
	margin-top: 6px;
	color: #989898;
	margin-left: 20px;
	float:right;

}

.body{
	padding: 30px 30px 0 30px;
}
.body > h3{
	margin-bottom: 20px;
}


.footer{

	border-top: 1px solid #E4E4E4;
	padding: 10px;
	text-align: center;
}

.footer span{
	display: inline-block;
	padding: 10px;
}


.neutral {
	background: #f7f7f7;

	border-left: 3px solid #555;	
}
.neutral h3{
	color: #555;
	margin-bottom: 5px; 
}

.warning{
	background: #fdf7f7;
	padding: 20px;
	border-left: 3px solid #d9534f;
}

.warning h3{
	color: #d9534f;
	margin-bottom: 5px; 
}

.success{
	background: #ECFAE7;
	padding: 20px;
	border-left: 3px solid #3c763d;
}

.success h3{
	color: #3c763d;
	margin-bottom: 5px; 
}

.notifications > div{
	margin-bottom: 6px;
}

li.hr {
	margin: 25px 0 15px 0;
	border-top: 1px solid #E4E4E4;
}


hr{
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #E4E4E4;
}

.issue h3{
	margin-bottom: 5px;
	color: #555;

}



.issue .date-wrapper{
	margin-bottom:14px;
	color: #A3A3A3;
}


.conversation-item img, .issue img {
	height: 45px;
	float: right;
	margin-right: 30px;
	border-radius: 100%;
}
.issue{
	margin: 0 0 30px 0;
	padding: 0;
}
.newpost .message-wrapper{
	background:#E5F7FF;
	border: 1px solid #B0DFDF;
}

.message-wrapper {
	float: right;
	padding: 20px;
	width: 665px;
	border-radius: 6px;
	background: #f7f7f7;
	border: 1px solid #EBEBEB;
}

.message {
	display: inline-block;
}
.message h3 {
	margin: 0 0 10px 0;
}

.message p {
	margin-bottom: 0px;
}

.conversation-history .developer-newpost{
		/*float: right;*/
}
.conversation-history .message h3{ text-align: left;}


.conversation-history{
	margin-bottom: 30px;
}

.conversation-history > h3{
	text-align: center;
	/*border-bottom: 2px solid #E4E4E4;*/
	padding: 10px;
}



.gutter{
	margin: 0 0 10px 0;
	width:100%;
}

.date{

	color: #979797;
	font-size: 0.9em;
	margin-top: 2px;
	display: block;
	float: right;
}
.name {
	font-weight: bold;
	margin-right: 5px;
}

.gutter {
	font-size: 14px;
}

.gutter img{
	border-radius: 100%;
	height: 41px;
	margin-right: 6px;

}

.gutter .name {
	font-style: bold;
	display: inline-block;
	margin-right: 3px;
}

.conversation-history ul li{
	padding: 10px 0;
	/*margin:10px;*/
	width:100%;
}


