Mail text: $comment.getBody()
Mail text med html: $htmlComment


#issueResolvedInternal
    #set($comments = $allComments.getComments($issue))
    #set($c = 0)
    #foreach ($comment in $comments)
        #if($c == 0)
            #set($theComment = $comment)
        #else
            else<br/>
            #break
        #end
        #set($c = $c + 1)
    #end
#issueResolvedInternalEND


Ärende nummer - $issue.getKey() - LABBZ-116
Ärende titel - $issue.getDescription() - Ändra det här åt mig

Ärende skapat datum - $issue.getCreated() - 2013-02-12 21:23:43 (timestamp!)

Person tilldelad ärendet - ${issue.getAssignee().getEmailAddress()} - o.johnsson@live.se

Formaterat datum - $dateformatter.formatDMYHMS($issue.getCreated())
Kundmail - $issue.getCustomFieldValue("customfield_10100") - oscjo729@student.liu.se


//Få alla kommentarer

#foreach ($comment in $allComments.getComments($issue) )
    $comment.getBody()<br/>
    $comment.getCreated() <br/>
    $comment.getAuthor() <br/> - AngryCreative Support / oscar (utvecklare)


	$comment.getCreated() datum?

    $comment.getAuthorApplicationUser().getEmailAddress() o.johnsson@live.se
    $comment.getAuthorApplicationUser().getDisplayName() Oscar Johnson  
    $comment.getAuthorApplicationUser().getName() oscar

#end

// roll Id för den person som postat kommentarern
$comment.getRoleLevelId()
$comment.getRoleLevel()

//get latest comment
#set ($issueComments = $allComments.getComments($issue))
#if ($lastComment.size()>0)
	#set ($lastComment = $issueComments.get($issueComments.size()-1)
#end
################################################

#set($comments = $allComments.getComments($issue))
#set($c = $comments.size())
#set($commentSizeMinusOne = $c - 1)

	#foreach ($i in $comments)
	    #set($c = $c - 1)
	    #set($comment = $comments.get($c))
        
        #if( $comment.getAuthorApplicationUser().getKey() == "support" )
        
            kund namn egentligen = $comment.getAuthorApplicationUser().getDisplayName()<br/>
            mail - $issue.getCustomFieldValue("customfield_10100")
            comment.getAuthorApplicationUser().getKey() = $comment.getAuthorApplicationUser().getKey()<br/>       
        
        #else
            comment.getAuthorApplicationUser().getDisplayName() = $comment.getAuthorApplicationUser().getDisplayName()<br/>
            comment.getAuthorApplicationUser().getEmailAddress() = $comment.getAuthorApplicationUser().getEmailAddress()<br/>
            comment.getAuthorApplicationUser().getKey() = $comment.getAuthorApplicationUser().getKey()<br/>
        
        #end
            
    
        
        ##comment.getAuthorApplicationUser().isActive() = $comment.getAuthorApplicationUser().isActive()<br/>
        ###comment.getRoleLevelId() = $comment.getRoleLevelId()<br/>
        ##comment.getId() = $comment.getId()<br/>  
        ###comment.getRoleLevel().getId() = $comment.getRoleLevel().getId()<br/>
        ###comment.getRoleLevel().getName() = $comment.getRoleLevel().getName()<br/>
        <br/>        
        
#end

#################################################
$remoteUser.getDisplayName() - Angry Creative Support <-- skulle kunna va supportpersons mail.
$commentauthor.getDisplayName() - Angry Creative Support




issue.getAssigne() - $issue.getAssignee()
Issue - TemplateIssue[issue=LABBZ-116]
Issue.getProject().lead - oscar
Remoteuser.displayName - Angry Creative Support
Remoteuser - support
Commentauthor - support(support)
Comment - com.atlassian.jira.issue.comments.CommentImpl@e865346a



Recipient - $recipient.displayName
userUtils.getUser() - oscar:1
userUtils.getUser().getDisplayName() - Oscar Johnson
userUtils.getUser().getDisplayName() - $userutils.getUser("oscar").getEmail()


#############################################

#if ( $str.matches('regex') )
	true
#else
	false
#end