<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body 
	style="
		margin:0; 
		padding:0; 
		font-family: 'Lucida Grande', Verdana, Arial, sans-serif; 
		width: 100%;
		line-height: 1.5;

		">
<div style="background: #181818; height: 30px;"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

	<table align="center" border="0" cellpadding="0" cellspacing="0" 
			style="
				border-collapse: collapse;
				border: 0px solid #181818;
				width: 100%;
				margin 0 auto;
				">
		

		<!--header-->
		<tr>
			<td bgcolor="#181818" style="padding: 0 0 0 0;">

			</td>
		</tr>
		<!--END header-->

		<tr>
			<td style="padding: 0px 0px 0px 0px;">

				<p>
				Hej {{kund}}!<br/>
				Vi har lagt till den där grejen så att det fungerar nu.<br/>
				Här är din ärende:
				</p>

					<div class="issue"
						style="

							background: #f5f5f5;
							border: 1px solid #ccc;
				
							padding: 20px;
							margin: 20px 0;
							margin-bottom: 10px;
							padding: 10px 20px 0 20px;

							">
						<h3 
							style="
								color:#181818;
								margin-top: 0px; 

							">Den här saken funkar inte <b style="color: #FF5050;">{{#LABBZ-116}}</b></h3>
						<p>Klickade runt på about sidan och det började hända massa konstiga saker</p>
					</div>
					<!-- Om kund är betalande-->
					<a href=""
						style="color: #FF5050 !important;

						">
						Kommentera</a> på ärendet.
					<!-- Om kund är betalande-->

				<p>
					Är det något mer du vill tillägga i detta ärende? Svara då bara på detta mail.
					Om du i ditt avtal har en inloggning kan du följa hela ärendet <a href="http://www.google.se"
						style="color: #FF5050 !important;"
					>här</a>.
				</p>

			</td>
		</tr>

		<!--footer -->
		<tr>
		</tr>
		<!--END footer-->



	</table>
</table>
	<div class="footer" 
		style="
			background: #181818;
			height: auto;
			padding: 20px 20px 20px 20px;
			margin-top: 20px;
		">
		
		<div class="inner-wrapper" 

			style="
				width: 100%;
				margin: 0 auto;
				padding: 0 0 0 0;
				text-align: center;

				">

				
				<img  src="http://media.angrycreative.se/AC-logo-Vit.png" alt="Angry Creative"
					style="
						display:block;
						float:left;
						color:white;
						width: 100px;
						padding: 0px 0px 0px 0px;

					    position:absolute;
					    top:0;
					    bottom:0;




						"/>
						
				
				<div
					class="contact"
					style="
						float: right;
						width: 120px;
						color: white;
						font-size:12px; 
						padding: 0 0 0 0; 
						display: inline-block;
						text-align: left;
						">
					<span 
						 style="
						 	

								display:block; 
								
								padding:0 0 0 0;
								margin:0 0 0 0;
								font-family: Roboto, Arial;
								width:170px;
								 ">
						010 - 762 44 40
					</span>
					
					<span  style="
						 	
								color:white !important;

								display:block;
								padding: 0 0 0 0;
								width:170px;
								
								font-family: Roboto, Arial;
								">

						
						<a href="mailto:hej@angrycreative.se" style="color:white !important;">hej@angrycreative.se</a>
					</span>
					<span  style="
						 	


								display:block;
								padding: 0 0 0 0;
								width:170px;
								
								font-family: Roboto, Arial;
								">

						Nya Rådstugugatan 1
					</span>
					<span  style="
						 	

								display:block;
								padding: 0 0 0 0;
								width:170px;
								
								font-family: Roboto, Arial;
								">

						602 18, Norrköping
					</span>


				</div>
				<div style="clear:both"></div>
		</div>
	</div>




</body>


</html>
<!--

$issue.description<br/>
$issue.summary<br/>
$remoteUser.displayName<br/>
$issue.getKey()<br/>
$issue.getProject().orginalkey<br/>


-->
